@model NorthwestLabs.Models.WorkOrder

@{
    ViewBag.Title = "ProcessSummaryReport";
}

<h2>Summary Report</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group row">
            @Html.LabelFor(model => model.woID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.woID)
                @Html.ValidationMessageFor(model => model.woID)
            </div>
        </div>



        <div class="form-group row">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Create Report", "ProcessSummaryReport2", null, new { @class = "btn btn-primary btn-md" })
            </div>
        </div>
    </div>


}


