@model NorthwestLabs.Models.CustomerPayment

@{
    ViewBag.Title = "ProcessBills3";
}

<h2>ProcessBills</h2>

<p>Enter Customer Payment</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group row">
            @Html.LabelFor(model => model.customer.cusID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.customer.cusID)
                @Html.ValidationMessageFor(model => model.customer.cusID)
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.payment.amount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.payment.amount)
                @Html.ValidationMessageFor(model => model.payment.amount)
            </div>
        </div>



        <div class="form-group row">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Submit", "ProcessBills4", null, new { @class = "btn btn-primary btn-md" })
            </div>
        </div>
    </div>


}
