@model NorthwestLabs.Models.TestTubeSchedule

@{
    ViewBag.Title = "RunAssays3";
}

<div class="row">
    <h2>Complete Assay 1</h2>

    <p>Enter the data from Assay 1 here to complete the test.</p>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.LabelFor(model => model.testTube.quantitativeResult , htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="file" />
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.testTube.qualitativeResult, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="file" />
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.testTube.comments, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.testTube.comments)
                    @Html.ValidationMessageFor(model => model.testTube.comments)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @Html.ActionLink("Complete", "RunAssays4", "Testing", new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
    }
</div>

