
@{
    ViewBag.Title = "MaintainCatalog";
}

<h2>Maintain Catalog</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.comments, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.comments)
                @Html.ValidationMessageFor(model => model.comments)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.priority, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.priority)
                @Html.ValidationMessageFor(model => model.priority)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.completionDueDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.completionDueDate)
                @Html.ValidationMessageFor(model => model.completionDueDate)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}