@model NorthwestLabs.Models.WorkOrder

@{
    ViewBag.Title = "CreateWorkOrder";
}

    <h2>Create New Work Order</h2>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true)

                <div class="form-group row">
                   @Html.LabelFor(model => model.comments, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.comments)
                        @Html.ValidationMessageFor(model => model.comments)
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.priority, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("Priority", new List<SelectListItem>
                        {
                          new SelectListItem{ Text = "", Value = "none" },
                          new SelectListItem{ Text = "Low", Value = "low" },
                          new SelectListItem{ Text = "Medium", Value = "medium" },
                          new SelectListItem{ Text = "High", Value = "high" }
                        }, new { @class="height"})
                        @Html.ValidationMessageFor(model => model.priority)
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.completionDueDate , htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.completionDueDate)
                        @Html.ValidationMessageFor(model => model.completionDueDate)
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>


        }
