<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    @*<meta name="viewport" content="width=device-width, initial-scale=1">*@
    @*@Styles.Render("~/Content/css")*@
    @*@Scripts.Render("~/bundles/modernizr")*@
    
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/Content/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="~/Content/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Custom Site.css-->
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css"/>

    <title>Northwest Labs - @ViewBag.Title</title>

</head>
<body>
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/Home/Index"><span class="fa fa-compass"></span> Northwest Labs</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu message-dropdown">
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading">
                                            <strong>Taylor McDonald</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Today at 9:15 AM</p>
                                        <p>Hey Rebecca, I emailed you the data summary report in the morning. Please verify that you get it!</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading">
                                            <strong>Jill Water</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 1:32 PM</p>
                                        <p>Hey Rebecca, can you call me back when you see this message? Thanks.</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading">
                                            <strong>Taylor McDonald</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Hey Rebecca, sorry about late reply. I will send you the summary report as soon as possible.</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-footer">
                            <a href="#">Read All New Messages</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu alert-dropdown">
                        <li>
                            <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">View All</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Rebecca Share <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        @Html.ActionLink("Dashboard", "Index", "Home")
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#billing"><i class="fa fa-fw fa-dollar"></i> Billing <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="billing" class="collapse">
                            <li>
                                @Html.ActionLink("Process Bills", "ProcessBills", "Billing")
                            </li>
                            <li>
                                <a href="#">Approve Invoices</a>
                            </li>
                            <li>
                                <a href="#">Add Discounts</a>
                            </li>
                            <li>
                                <a href="#">Approve Discounts</a>
                            </li>
                            <li>
                                <a href="#">Make a Payment</a>
                            </li>
                            <li>
                                <a href="#">Payments</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#cataloging"><i class="fa fa-fw fa-book"></i> Cataloging <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="cataloging" class="collapse">
                            <li>
                                @Html.ActionLink("Maintain and Publish Catalog", "MaintainCatalog", "Cataloging")
                            </li>
                            <li>
                                <a href="#">Tests</a>
                            </li>
                            <li>
                                <a href="#">Materials</a>
                            </li>
                            <li>
                                <a href="#">References</a>
                            </li>
                            <li>
                                <a href="#">Authorize Changes</a>
                            </li>
                            <li>
                                <a href="#">Email Catalog</a>
                            </li>
                            <li>
                                <a href="#">Print Catalog</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#reporting"><i class="fa fa-fw fa-desktop"></i> Reporting <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="reporting" class="collapse">
                            <li>
                                @Html.ActionLink("Process Data Reports", "ProcessDataReport", "Reporting")                          
                            </li>
                            <li>
                                <a href="#">Data Reports</a>
                            </li>
                            <li>
                                @Html.ActionLink("Process Summary Reports", "ProcessSummaryReport", "Reporting")
                            </li>
                            <li>
                                <a href="#">Summary Reports</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#sales"><i class="fa fa-fw fa-line-chart"></i> Sales <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="sales" class="collapse">
                            <li>
                                @Html.ActionLink("Create Work Order", "CreateWorkOrder", "Sales")
                            </li>
                            <li>
                                <a href="#">Work Orders</a>
                            </li>
                            <li>
                                <a href="#">Quotes</a>
                            </li>
                            <li>
                                <a href="#">Create Customer</a>
                            </li>
                            <li>
                                <a href="#">Customers</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#testing"><i class="fa fa-fw fa-filter"></i> Testing <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="testing" class="collapse">
                            <li>                               
                                @Html.ActionLink("Receive Compound", "ReceiveCompound1", "Testing")
                            </li>
                            <li>
                                @Html.ActionLink("Schedule Assays", "ScheduleAssays1", "Testing")
                            </li>
                            <li>
                                @Html.ActionLink("Solubilize Samples", "Solubilize", "Testing")
                            </li>
                            <li>
                                @Html.ActionLink("Run Assays", "RunAssays1", "Testing")
                            </li>
                            <li>
                                <a href="#">Schedule</a>
                            </li>
                            <li>
                                <a href="#">Compounds</a>
                            </li>
                            <li>
                                <a href="#">Samples</a>
                            </li>
                            <li>
                                <a href="#">Test Tubes</a>
                            </li>
                            <li>
                                <a href="#">Test Results</a>
                            </li>
                            <li>
                                <a href="#">Approve Conditional Test</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                @RenderBody()  
                
            </div>
            <!-- /.container-fluid -->
            
        </div>
        <!-- /#page-wrapper -->
        <hr />
        <footer class="footer-distributed">

        <div class="footer-left">

            <h3>Northwest<span> Labs</span></h3>

            <p class="footer-links">
                <a href="#">Home</a>
                ·
                <a href="#">About Us</a>
                ·
                <a href="#">Contact Us</a>
                ·
                <a href="#">Legal</a>
                ·
                <a href="#">Faq</a>
                ·
                <a href="#">Privacy</a>
            </p>

            <p class="footer-company-name">Northwest Labs &copy; 2016</p>
        </div>

        <div class="footer-center">

            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>320 Westlake Ave N</span> Seattle, WA 98109</p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p>+1 206 123 4567</p>
            </div>

            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:support@company.com">support@company.com</a></p>
            </div>

        </div>

        <div class="footer-right">

            <p class="footer-company-about">
                <span>About the company</span>
                Northwest Labs Pharmaceutical provides chemical and compound tests for companies needing
                in-depth assay analysis.
            </p>

            <div class="footer-icons">

                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>

            </div>

        </div>

        </footer>
    </div>
    

    @*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
        
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)*@


    <!-- jQuery -->
    <script src="~/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/js/bootstrap.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="~/js/plugins/morris/raphael.min.js"></script>
    <script src="~/js/plugins/morris/morris.min.js"></script>
    <script src="~/js/plugins/morris/morris-data.js"></script>
</body>
</html>
